name: Integration UnitTest

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - main
      - develop
  workflow_call:

jobs:
  macos-browser-test:
    runs-on: macos-latest
    permissions:
      contents: read
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
      - uses: actions/checkout@v6
        with:
          repository: Next2D/player
          ref: main
      - run: npm install -g npm@latest
      - run: npm ci
      - run: npm run test
      - run: npm audit --audit-level=high --omit=dev

  windows-browser-test:
    runs-on: windows-latest
    permissions:
      contents: read
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
      - uses: actions/checkout@v6
        with:
          repository: Next2D/player
          ref: main
      - run: npm install -g npm@latest
      - run: npm ci
      - run: npm run test
      - run: npm audit --audit-level=high --omit=dev